html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    max-height: 100vh;
    padding: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    max-height: 100vh;
    margin: 0;
    padding: 10% 15% 15% 15%;
}

.container p {
    text-align: center;
    padding-top: 6vh;
}

h1 {
    font-size: 2.5rem;
    font-weight: 550;
    padding-bottom: 2rem;
}

h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 2rem;
}

label {
    font-weight: 400;
    font-size: 1rem;
}

#email, #pass {
    background-color: aliceblue;
    border: 2px solid lightgrey;
    color: lightgrey;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    min-height: 2rem;
    border-radius: 10px;
}

.forgotPass {
    text-align: right;
    text-decoration: none;
    font-size: 0.8rem;
    padding-bottom: 1rem;
}

#submitButton {
    background-color: #1B0156;
    color: #D8D8D8;
    border-radius: 10px;
    font-size: 1rem;
    min-height: 2.5rem;
}

.signUp {
    text-decoration: none;
}

footer {
    padding-top: 8rem;
    color: lightgrey;
    text-transform: uppercase;
}

img {
    padding:10%;
    max-width: 100%;
    max-height: 100vh;
}

@media (max-width: 1250px) {
   body {
    display: inline-block;
    width: 100%;
   }

   img {
    object-fit: cover;
    margin: auto;
    border-radius: 10px;
    height: 15rem;
    width: 100%;
    padding: 0;
   }
   
   .container {
    margin:auto;
   }
}

@media (max-width: 475px) {
    body {
     display: inline-block;
     width: 100%;
    }
 
    img {
     object-fit: cover;
     margin: auto;
     border-radius: 10px;
     height: 15rem;
     width: 100%;
     padding: 0;
    }
    
    .container {
     margin:auto;
    }

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 0.7rem;
    }
 }